<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript" src="/js/index.js"></script>
        <link rel="stylesheet" href="/css/index.css"/>
    </head>
    <body>
        <div id="page">
            {%if error is defined%}
            <!-- This creates an error div and styles it
                 if there are no tickers in the database.
                 It also removes all other elements from being rendered,
                 and add styling for the error div!-->
            <style>
                #error *{
                    text-align:center;
                    float: none;
                }
            </style>
            <div id="error">
                <div class="alert alert-danger">
                    <h1>Please Add A Ticker Symbol!</h1>
                </div>
                <div id='inputElement' class='stock'>
                    <label for='code'>Stock Code: <input type='text' id='code' placeholder='Stock Code Here:'/></label>
                    <br/>
                    <button type='submit' id='submitButton'>Submit</button>
                </div>
            </div>
            {%else%}
            <div id="chart">
            
            </div>
            <div id="stocks">
                {% for code in codes %}
                <!--Loops through codes and creates the elements!-->
                    <div class='stock' for-code="{{code}}">
                        <h3> {{code}} </h3>
                        <button type='button' class='removeBtn' for-code="{{code}}">X</button>
                    </div>
                {%endfor%}
                <div id='inputElement' class='stock'>
                    <label for='code'>Stock Code: <input type='text' id='code' placeholder='Stock Code Here:'/></label>
                    <br/>
                    <button type='submit' id='submitButton'>Submit</button>
                </div>
            </div>
            {%endif%}
        </div>
    </body>
</html>